<my-hero>
  <h1 slot="heading">Unleash the Power of Web Components</h1>
  <p slot="subtext">Build faster, smarter, and with complete creative freedom. Your code, your way, on any platform.</p>
</my-hero>
<script src="./web-component-src/hero.js"></script>

{% schema %}
  {
    "name": "WC Hero",
    "settings": []
  }
{% endschema %}